<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Add New Customer</title>
    </head>
    <body>
        <h1>Fill out all fields</h1>
        <form action="/addnew.html" method="POST">
            <div>
                <h2>Add:</h2>
                <label for="fname">First Name:</label>
                <input type="text" id="fname" name="fname"><br>

                <label for="mname">Middle Name:</label>
                <input type="text" id="mname" name="mname"><br>

                <label for="lname">Last Name:</label>
                <input type="text" id="lname" name="lname"><br>

                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="pnum" name="pnum"><br>

                <label for="incomeStat">Income Status:</label>
                <input type="text" id="incomeStat" name="incomeStat"><br>

                <label for="household">Number in Household:</label>
                <input type="text" id="household" name="household"><br>

                <label for="other">Other Services:</label>
                <input type="text" id="other" name="other"><br>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address"><br>

                <button type="submit">Add</button>
            </div>
        </form>
    </body>
</html>