<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>CBO</title>
    </head>
    <body>
        <h1>Saskatoon Food Bank Database</h1>
        <form action="/login.ejs">
            <div>
                <h2> Staff Login </h2>
                <input type="submit" value="Login"/>
            </div>
        </form>
    </body>
</html>