<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>CBO</title>
    </head>
    <body>
        <h1>Saskatoon Food Bank Database</h1>
        <form>
            <div>
                <h2> Staff Login </h2>
                <a class="btn" href="/login">Login</a>
            </div>
        </form>
    </body>
</html>