<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
    </head>
    <body>
        <h1>Search</h1>
        <form action="/staff.html" method="POST">
            <div>
                <h2>Staff Search</h2>
                <label for="phonenumber">Phone Number:</label><br>
                <input type="search" id="num" name="num">
            </div>
        </form>
        <form action="/newstaff.html">
            <div>
                <h3>Add New</h3>
                <input type="submit" value="Add New Staff">
            </div>
        </form>
    </body>
</html>